<div class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between">

  <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
    data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
    aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button>
  <div class="d-flex justify-content-start">
    <div class="p-1">
      <div class="navbar-collapse collapse justify-content-left" id="navbarsExampleDefault">
        <a class="navbar-brand" [routerLink]="['/home']">DevFrom</a>
        <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/members']">Matches</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/list']">List Devs</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/messages']">Messages</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <div class="p-1">
      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>
          Welcome {{NameUser}}
        </a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/member/edit']">
            <i class="fa fa-user"></i> Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
      </div>
    </div>
    <div class="col">
      <form *ngIf="!loggedIn()" #LoginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" placeholder="Username" name="username" required
          [(ngModel)]="model.username">
        <input class="form-control mr-sm-2" type="password" placeholder="Password" name="password" required
          [(ngModel)]="model.password">
        <button [disabled]="!LoginForm.valid" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        <span class="label label-danger" name="erroLogin"></span>
      </form>
    </div>
  </div>
</div>